# 忽略所有的 .log 文件
*.log

# 忽略 node_modules 文件夹
node_modules/

# 忽略 Python 的虚拟环境
venv/
.venv/
__pycache__/

# 忽略系统自动生成的文件
.DS_Store
Thumbs.db

# 忽略包含敏感信息的配置文件
.env
config/settings.local.py

# 忽略某个具体的文件夹下的所有内容，但不忽略文件夹本身
dist/*
singapo/
data/
/.ipynb_checkpoints
/runtime